/*-----------------------------------// 全局样式 //-----------------------------------*/
body, td, th { font-size: 12px; color: #4D4D4D; }
body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background: #48d2f9 url(../images/bg01.jpg) no-repeat; }
a { font-size: 12px; color: #4D4D4D; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; color: #4D4D4D; }
a:hover { text-decoration: underline; color:#189FE9; }
a:active { text-decoration: none; color: #4D4D4D; }
/*-----------------------------------// 页面样式 //-----------------------------------*/
#main_div { margin:0 auto;}
#main_con { width:961px; clear:both; margin:0 auto; overflow:hidden; background-color:#fff; background-image:url(../images/airconditioning_14.jpg); background-position:top; background-repeat:no-repeat; padding-top:5px; }

/*--- 头部div ---*/
#header { width:961px; height:120px; margin:0 auto;}
#logo { padding-top:15px; padding-left:8px; width:300px; height:80px; overflow:hidden; }
#top_text { position:absolute; width:320px; height:25px; line-height:25px; margin-left:740px; margin-top:-50px; color:#fff; }
#top_text a, #top_text a:visited { font-size:12px; font-weight:bold; color:#fff; }
#banner {clear:both;  width:961px; height:auto; margin:0 auto; overflow:hidden; }

/*--- 导航 ---*/
#nav { width:961px; height:46px; line-height:46px; margin:0 auto; background:url(../images/airconditioning_08.jpg) repeat-x; }
.nav_l { display:none; }
.nav_r { display:none; }
.navigation { padding-left:1px; }
.navigation li { float:left; width:92px; text-align:center; position:relative; padding:0 12px; z-index:100; background:url(../images/airconditioning_110.jpg) left no-repeat; margin:0; }
.navigation li a, .navigation li a:visited { display: block; text-decoration: none; color: #FFF; font-weight: bold; }
.navigation li a:hover, .navigation li.hover a, .navigation li.hover { color: #444; background: #a1e20a; text-decoration: none; background-image:url(../images/airconditioning_12.jpg); }
.navigation li.hover a:visited { _color:#444; }
.navigation ul { display:none; }
.navigation ul li { background-image:none; background-color:#FFF; height:25px; line-height:25px; margin:0px; padding: 0px; }
.navigation ul li a, .navigation ul li a:hover { background-image:none; color:#444; width:120px; margin:0px; padding: 0px; }
.navigation li ul { width:120px; display:none; position:absolute; top:46px; left:0px; margin: 0px; padding:0; z-index:100; background-color:#FFF; }
.navigation li ul ul { left:120px; top:20px; z-index:200; top:0; }
.navigation li ul li { background-color:#FFF; border:0; background-image:none; }
.navigation li ul li a { text-indent: 10px; color:#444; font-weight:normal; text-align:left; background-image:none; }
.navigation li ul li a:visited { _color:#444; background-image:none; font-weight:normal; color:#444; }
.navigation li ul li a:hover { color:#444; background-image:none; background:#a1e20a; }
.navigation li ul li.hover { background:#a1e20a; background-image:none; width:120px; }
.navigation li.hover ul a { background-image:none; }

/*---左侧---*/
#left { width:252px; float:left; margin-bottom:-22222px; padding-bottom:22222px; background-color:#f9f9f9; min-height:50px; _height:50px; height:auto; overflow:hidden; }

/*---右侧---*/
#right { width:700px; float:left; padding-left:7px; overflow:hidden; }
#right1 { width:700px; float:left; padding-left:7px; overflow:hidden; }

/*---首页产品样式---*/
.newprod_list { padding-bottom:6px; padding-top:7px; padding-left:3px; float:left; line-height:1.5em; width:135px; margin:0 auto; }
#left .newprod_list { padding-bottom:6px; padding-top:7px; padding-left:8px; float:left; line-height:1.5em; width:100px; margin:0 auto; }
.blk_t, #left .art_list_title { height:49px; line-height:38px; background:url(../images/airconditioning_15.jpg) no-repeat; text-indent:40px; color:#fff; font-size:12px; font-weight:bold; overflow:hidden; }
#right .blk_t, #right .art_list_title { height:49px; line-height:38px; font-size:12px; color:#fff; padding-left:12px; background:url(../images/airconditioning_17.jpg) no-repeat; overflow:hidden; }
#right1 .art_list_title { color:#333; line-height:27px; height:25px; overflow:hidden; }
.prod_type_title { background-image:url(../images/cats_28.jpg); color:#fff; }
.menutitle { background-image:url(../images/house_16.jpg); }
.cart_con { height:23px; line-height:23px; padding-top:5px; text-align:center; }
.cart_con a, .cart_con a:visited { color:#515151; display:block; }
.list_con, .newprod_con, .cart_con, .prod_type { min-height:10px; _height:10px; }
#right .list_con, #right .newprod_con, #right .cart_con, #right .prod_type { padding:5px; margin-bottom: 10px; }
#right .login_con { border:0; width:260px; margin:0 auto; }
.list_bot { height:5px; font-size:1px; clear:both; background-image:url(../images/material_37.jpg); }
#right .list_bot { display:none; }
.list_con ul { line-height:2em; margin-left:10px; }
.list_con ul li { background-image:url(../images/airconditioning_29.gif); text-indent:10px; background-position:0px 10px; background-repeat:no-repeat; }
#right .list_con ul li { width:340px; float:left; overflow:hidden; }

/*--底部--*/
.footermain { min-height:20px; _height:20px; clear:both; width:961px; margin:0 auto; background-image:url(../images/airconditioning_33.jpg); background-repeat:repeat-x; padding-bottom:10px; }
#footer { clear:both; width:961px; color:#fff; line-height:1.5em; text-align:center; padding-bottom:5px; padding-top:5px; margin:0 auto; }
#footer a, #footer a:visited { color:#fff; }

/*--产品--*/
.prodthumb, .newprod_pic { width:95px; height:85px; }
#left .prodthumb, #left .newprod_pic { width:65px; height:55px; }
.newprod_pic { padding:5px; background-color:#fff; border:#E6E6E6 1px solid; float:left; margin-right:10px; }
#left .newprod_pic { margin-top:6px; }
.cartlist_pic img { margin:0px; }
.newprod_name { width:100px; height:22px; line-height:22px; overflow:hidden; }
.newprod_name a { color:#0D9DF4; font-weight:bold; }
.newprod_name a:visited { _color:#8A8A8A; }
.newprod_price { width:130px; height:18px; line-height:18px; color:#F15244; font-weight:bold; text-align:left; overflow:hidden; }
.newprod_intr { color:#828282; overflow:hidden; }
#left .newprod_intr { width:120px; }
a img { border:0px; }
.newtopic { line-height:2em; font-size:12px; }
.newtopic, .newtopic a { }
.newtopic img { float:left; margin-right:10px; margin-top:7px; }
#right2 { padding-left:5px; clear:both; }
#sta_content { font-size:12px; line-height:2em; text-align:justify; text-justify:inter-ideograph; margin-bottom:10px; padding-left:10px; width:680px; overflow:hidden; }
#sta_content p { font-size:12px; text-indent:22px; }
.neirongshow { padding-top:6px; width:732px; overflow:hidden; }
.newprod_xx, .newprod_gg { cursor:pointer; width:58px; height:15px; line-height:15px; background-image:url(../images/xxx_47.jpg); float:left; }
.newprod_gg { width:71px; background-image:url(../images/xxx_49.jpg); margin-left:10px; }
.art_list_title { border-bottom:#E1E0E0 1px solid; margin-bottom:5px; height:30px; font-weight:bold; line-height:30px; background-image:url(../images/a_list_03.gif); background-repeat:no-repeat; text-indent:30px; }
.art_list_search { position:absolute; margin-left:386px; margin-top:-32px; }
.art_list_time { color:#646464; }
#pagerwrapper { clear:both; margin-bottom:10px; }
.prod_list_con { padding-top:7px; }
.pic_list_list, .prod_list_list { width:165px; height:200px; overflow:hidden; }
.prod_list_list { float:left; line-height:1.5em; }
.prod_list_pic, .prod_list_pic img { width:120px; height:120px; margin:0 auto; }
.prod_list_pic { border:#E9E9E9 3px solid; }
.prod_list_name, .prod_list_type { text-align:center; height:22px; line-height:22px; margin-top:5px; overflow:hidden; }
.prod_list_intr { display:none; width:135px; margin:0 auto; padding-top:6px; color:#999999; padding-bottom:6px; height:68px; overflow:hidden; }
.prodview_info { padding-left:15px; height:23px; list-style:25px; overflow:hidden; }
.prodview_pic, .prodview_pic img { width:230px; height:230px; }
.prodview_pic { float:left; margin-right:15px; margin-left:20px; border:#CCCCCC 4px solid; }
.prodview_prices { line-height:25px; _line-height:25px; font-family:"宋体"; }
* html input.add_to_cart_b_view { margin-top:10px; }
*+html input.add_to_cart_b_view { margin-top:4px; }
.prodview_prices img { float:left; }
.prodview_prices input { border: 1px solid #999999; width:47px; height:16px; line-height:16px; padding-left:5px; padding-right:5px; }
.prodview_prices br { line-height:5px; height:5px; }
.prodview_content { clear:both; padding-left:15px; padding-top:8px; line-height:1.7em; min-height:50px; width:630px; overflow:hidden; }

.pic_list_list { float:left; }
.pic_list_pic, .pic_list_pic img { width:120px; height:97px; }
.pic_list_pic { border:#CCCCCC 3px solid; margin:0 auto; }
.pic_list_name { height:27px; line-height:27px; text-align:center; }
.ordernow { position:absolute; margin-left:450px; margin-top:-33px; }
.cartlist_list { padding-top:5px; }
.cartlist_pic, .cartlist_pic img { width:75px; height:75px; }
.cartlist_pic { border:#CCCCCC 2px solid; margin-left:20px; _margin-left:10px; margin-right:20px; float:left; }
.cartlist_nametype { width:395px; float:left; line-height:3em; }
.cartlist_nametype a { width:390px; text-align:left; line-height:22px; height:22px; overflow:hidden; }
.cartlist_no { line-height:3em; }
.cartlist_no input, #amount { border:0px; margin:0px; padding:0px; width:47px; height:16px; line-height:16px; padding-left:5px; padding-right:5px; border:#999999 1px solid; }
.cartlist_intr { font-family:"宋体"; clear:both; line-height:1.5em; padding-top:5px; padding-bottom:7px; padding-left:25px; border-bottom:#CCCCCC 1px dashed; }

/*--订单--*/
.order_1, .order_2, .order_3, .order_4, .order_5 { width:195px; height:30px; line-height:30px; float:left; margin-left:10px; overflow:hidden; }
.order_1 { margin-left:20px; }
.order_2 { width:117px; }
.order_3 { width:117px; }
.order_4 { width:117px; }
.order_5 { width:67px; }
.ordertotle { width:449px; height:30px; line-height:30px; float:left; margin-left:20px; }
.o_b1 { height:2px; font-size:1px; border-bottom:#CCCCCC 1px solid; clear:both; }
.o_b { height:2px; font-size:1px; border-bottom:#CCCCCC 1px dashed; clear:both; }
.addr { border-bottom:#DEDEDE 1px solid; height:30px; line-height:30px; margin-top:4px; }
.addr1 { padding:0 20px; float:left; margin-left:20px; _margin-left:10px; height:30px; line-height:30px; background-color:#DEDEDE; text-align:center; color:#A92D2D; }
.addr2 { border:#DEDEDE 1px solid; padding:5px; line-height:2.5em; border-top:0px; min-height:20px; _height:20px; }
.addr2 a { color:#003399; }
.submit_order { margin:0px; padding:0px; border:0px; font-size:12px; height:25px; line-height:25px; width:87px; background-image:url(../images/sendorder.jpg); cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:20px; text-align:center; color:#fff; }
.ddcx { width:50px; }

/*--搜索--*/
#article_keyword, #prd_keyword, #download_keyword { border:0px; padding:0px; margin:0px; width:140px; height:22px; line-height:14px; padding-left:5px; padding-right:5px; background:url(../images/kuang.jpg) no-repeat; }
#articlesearch_submit, #prdsearch_submit, #downloadsearch_submit { border:0px; padding:0px; margin:0px; width:77px; height:22px; line-height:18px; background:url(../images/searchbot.jpg) no-repeat; color:#fff; font-size:12px; font-weight:bold; margin-left:15px; text-indent:10px; cursor:pointer; }
.recent { line-height:1.7em; }
.recent_con { padding-top:6px; padding-left:6px; padding-right:6px; }
.recent_list { text-indent:4px; border-bottom:#CCCCCC 1px dashed; padding-bottom:5px; margin-bottom:5px; }
.prod_type { padding-top:4px; }
.prod_type ul { width:90%; margin:0 auto; float:none; }
.prod_type ul li { padding-bottom:4px; margin-bottom:5px; border-bottom:#8B9CBD 1px dashed; text-indent:20px; }
.prod_type ul li a { display:block; height:25px; line-height:25px; background-image:url(../images/airconditioning_029.gif); background-position:5px 6px; background-repeat:no-repeat; }
.prod_type ul li a:visited { }
.prod_type ul li a:hover, .prod_type ul li.act a { }
.prod_type ul ul { display:none; }
.prod_type ul ul li { text-indent:20px; margin:0; padding:0; }
.prod_type ul ul li a { }

/*--留言--*/
#left .mess_input input { height:18px; line-height:18px; width:150px; }
#left .mess_textarea textarea { width:150px; height:50px; }
#left .mess_submit { padding-left:75px; }
#left .message_bg { display:none; }
#left .mess_list { color:#666; margin-bottom:3px; }
#right2 .mess_submit, #right2 .regformsub { padding-left:50px; }
#right2 .mess_input input { width:480px; height:22px; line-height:22px; }
#right2 .mess_textarea textarea { width:480px; height:150px; }
#right2 .mess_submit { width:405px; text-align:center; }
#right2 .message_bg { width:622px; height:263px; background:url(../images/message_pic.jpg) no-repeat; display:none; } /*留言图片设置*/
#mess_main { padding-left:4px; padding-top:20px; overflow:hidden; }
.mess_list { clear:both; overflow:auto; zoom:1; margin-bottom:10px; }
.mess_title, .mess_input, .mess_textarea { float:left; display:inline; }
.mess_title { color:#666; width:60px; text-align:right; margin-right:15px; }
.mess_input input, .mess_textarea textarea { }
.mess_textarea textarea { overflow:auto; }
#right2 .yzm_input input { width:416px; }
.subd { width:87px; border:0px; height:25px; line-height:19px; background:url(../images/sendorder.jpg) no-repeat; cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:20px; text-align:center; color:#fff; }
#right .subd { margin-left:310px; }
.regformsub input { width:80px; border:0px; height:21px; line-height:19px; background-image:url(../images/sendorder.jpg); cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:20px; text-align:center; color:#333; border:0px; }
.status { padding:10px; background-color:#FFFBD0; border:#EE9C5F 1px solid; color:#666666; }
#yzmshow { position:absolute; float:left; display:none; margin-left:25px; margin-top:15px; z-index:3; }
#yzmshow img { height:18px; margin-top:2px; border:#ccc 2px solid; }
#loginform_stat { height:25px; line-height:25px; width:90%; margin:0 auto; display:none; }
.more { display:none; }

/*counter*/
.counter { text-indent:10px; height:25px; line-height:25px; color:#fff; background-color:#D0BC8D; background-image:url(../images/counterbg_67.jpg); background-repeat:no-repeat; }
.counter span { float:left; }
#counterpic { float:left; margin-top:-1px; }
#counterpic img { float:left; margin-left:2px; margin-top:5px; }
.jsq { float:left; min-width:12px; margin-right:4px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; line-height:14px; text-align:center; background-color:#fff; color:#000; text-indent:0px; margin-top:6px; }

/*--qq--*/
.qq_list_con ul li { margin-bottom:5px; clear:both; width:320px; }
#right .qq_list_con ul li { float:left; margin-right:10px; margin-bottom:5px; clear:none; _margin-right:12px; _margin-bottom:4px;}
.qq_list_con { margin-bottom:9px; _margin-bottom:8px;padding-bottom:5px; _padding-bottom:8px;zoom:1; overflow:auto; overflow-x:hidden; overflow-y:hidden; padding:5px; _padding:5px;}

/*--友情链接--*/
ul.flink_index { }
ul.flink_index li { padding:6px; background-image:none; float:left; text-indent:0px; width:100px; text-align:center; }
#right ul.flink_index li { padding:6px; background-image:none; float:left; text-indent:0px; width:100px; text-align:center; height:30px; _height:50px; }
ul.flink_index li img { width:88px; height:31px; margin:0 auto; }
.artview { margin-bottom:10px; clear:both; }
.artview_title { height:40px; line-height:30px; border-bottom:#f5f5f5 2px solid; text-align:center; font-size:16px; font-weight:bold; margin-bottom:6px; }
.artview_info { height:30px; text-align:center; }
.artview_intr { font-size:12px; padding:5px; line-height:1.7em; color:#868686; background-color:#F5F5F5; border:#E5E5E5 1px solid; margin-bottom:10px; text-indent:24px; text-align:justify; text-justify:inter-ideograph; }
#artview_content { padding:0px 6px; font-size:12px; line-height:2em; text-indent:28px; text-align:justify; text-justify:inter-ideograph; }
#artview_content p { text-indent:28px; }
#artview_content, #artview_content a { font-size:12px; }

/*--用户管理--*/
#adminToolbar { width:100%; height:38px; background:url(../images/admintoolbar_bg.gif) repeat-x; border-bottom:1px solid #000; z-index:99; }
#adminToolbar ul { float:left; text-align:left; height:38px; background:url(../images/admintoolbar_lo.gif) no-repeat; padding-left:150px; }
#adminToolbar ul li { float:left; padding:9px; position:relative; z-index:98; }
#adminToolbar .section { float:left; padding:0 10px; height:18px; line-height:18px; background:url(../images/admintoolbar_bt_bg.gif) repeat-x top; color:#012d5f; border:1px solid #6da5c7; }
#adminToolbar .section:hover { background:url(../images/admintoolbar_bt_bg.gif) repeat-x bottom; color:#a15b00; border:1px solid #dea303; }
.adminToolbar_downmenu { display:none; position:absolute; width:100px; padding:10px; background:#fff; top:29px; left:10px; }
.adminToolbar_downmenu a { display:block; height:24px; line-height:24px; color:#012d5f; }
.admintoolbar_right { float:right; padding-right:40px; line-height:38px; color:#00c6ff; }
.admintoolbar_right a { color:#fff; }
.admintoolbar_right a:hover { color:#00c6ff; }
.mod_toolbar { height:24px; line-height:24px; background:#000; text-align:left; padding-left:5px; z-index:-1; }
.mod_toolbar img { vertical-align: middle; }
.mod_toolbar a { font-size: 11px; color:#FFFFFF; }
.web_bg .sortable_placeholder { display: block; border: 1px solid #efefef; height: 32px; background: #ccc; }
.placeholder { display: block; height: 12px; }
ul { margin:0px; padding:0px; list-style-type:none; }
.blankbar { height:9px; line-height:9px; font-size:1px; clear:both; }
.blankbar1 { height:1px; line-height:1px; font-size:1px; clear:both; }
#pager { margin: 0px auto; margin-top:20px; }
#pager td { color:#999999; padding-left:5px; padding-right:5px; }
#pager td a img { margin-left:2px; padding-right:2px; margin-top:2px; }
p.static_html { font-size:14px; }
p.static_html img { margin:10px; }
.langbar { clear:both; margin:0 auto; min-height:20px; _height:20px; padding-left:10px; padding-top:6px; width:180px; }
.langbar a { display:block; width:66px; height:20px; line-height:20px; background-image:url(../images/lang_03.jpg); text-align:center; float:left; margin-right:20px; }
#left .langbar a, #left .langbar a:visited { color:#000000; }
.mod_toolbar { line-height:28px; text-align:right; padding-right:5px; z-index:90; opacity: 0.8; filter: alpha(opacity=80); cursor: move; position: absolute; }
.pos_wrapper { position: relative; }
#product_gallery { margin: 8px; }
.product_gallery_pic { border: 3px solid #ececec; margin: 0px 0px 3px 6px; width: 120px; }
#logo .blk_t, #banner .blk_t, #footer .blk_t { display:none; }
.saving_o_b { background:none; background-image:url(../images/saving.gif); cursor:pointer; width:135px; height:21px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:30px; color:#3A3A3A; }
.order_now_b { background:none; background:url(../images/order.gif) no-repeat; cursor:pointer; width:94px; height:24px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:24px; color:#fff; font-weight:bold; }
.Modify_items_b { background:none; background:url(../images/modify.gif) no-repeat; cursor:pointer; width:94px; height:24px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:24px; color:#fff; font-weight:bold; }

/*新闻中心*/
#right2 .list_main .list_con .titlelist li, #right .list_main .list_con .titlelist li a, #right .list_main .list_con .titlelist li a:visited { width:700px; color:#666; }
#right2 .art_list_con ul li { width:700px; border-bottom:1px dashed #666; height:30px; line-height:32px; }
#right2 .art_list_con ul li a:hover { width:700px; height:30px; line-height:32px; }
#right2 .art_list_con ul li .l_title { float:left; height:30px; width:476px; background: url(../images/dot01.jpg) left no-repeat; padding-left:25px; overflow:hidden; }
#right2 .art_list_con ul li .n_time { float:right; height:30px; color: #b9b5af; padding-right:12px; }
#right2 .art_list_con ul li .l_title, #right2 .full_bulletin_list li .l_title a, #right2 .full_bulletin_list li .l_title a:visited { font-size:12px; }
#right2 .art_list_con ul li .l_title a:hover { color:#429FEC; }
#right2 .art_list_con ul li .art_list_time { float:right; height:30px; color: #b9b5af; padding-right:6px; }

/*公司简介*/
#artview_content1 { padding:0px 6px; font-size:12px; line-height:2em; text-indent:28px; text-align:justify; text-justify:inter-ideograph; }
#artview_content1 p { text-indent:28px; }
#artview_content1, #artview_content1 a { font-size:12px; }

/*--注册--*/
#right .login_all { padding-left:10px; text-align:center; height:30px; line-height:30px; width:250px; clear:both; }
#right1 .login_all { width:250px; }
.reg_bg { background:url(../images/reg_pic.jpg) no-repeat; }
#regform_table { width:700px; margin:0 auto; }
.regform_table_s { width:300px; margin:0 auto; }
#regform_table td { text-align:left; }
#regform_table td.td_sub { padding-left:80px; }
#regform_table input { width:93px; _width:120px; height:18px; line-height:18px; padding-left:8px; padding-right:8px; border:#9CA9C9 1px solid; font-size:12px; color:#666; margin-top:4px; }

/*--登录--*/
.login_con { min-height:10px; _height:10px; }
.login_top { width:201px; height:6px; font-size:1px; background-image:url(../images/booksell_13.jpg); margin:0 auto; margin-top:5px; display:none; }
.login_left { width:80px; float:left; padding:0; padding-right:20px; height:30px; line-height:30px; text-align:right; }
.login_right { width:145px; float:left; height:30px; line-height:30px; }
.login_right input { margin:0px; border:0px; font-size:12px; color:#333; padding-left:10px; padding-right:10px; height:22px; line-height:22px; background:url(../images/airconditioning_21.jpg) no-repeat; width:86px; margin-top:7px; }
.login_all { padding-left:0px; text-align:center; height:30px; line-height:30px; clear:both; }
.login_all input { margin:0px; padding:0px; border:0px; font-size:12px; font-weight:bold; color:#fff; margin-left:20px; width:62px; height:22px; line-height:15px; margin-top:5px; background-image:url(../images/airconditioning_25.jpg); cursor:pointer; }
.login_all1 { padding-left:9px; height:30px; line-height:30px; padding-right:7px; }
.login_all1 a, .login_all1 a:visited { padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:3px; height:19px; line-height:19px; background-image:url(../images/bjbj_74.jpg); border:#909090 1px solid; color:#363636; }
.login_all1 a:hover { background-color:#737373; color:#fff; background-image:none; }
.list_con, .newprod_con, .prod_type, .login_con { min-height:20px; _height:20px; }


.login_info { height:22px; line-height:22px; clear:both; margin-bottom:5px; padding-left:5px; }
.login_info a { border:1px solid #CCC; padding:2px; background:#F6F6F6; clear:both; }
input.add_to_cart_b_view { background:none; margin:0; padding:0; border:0; font-size:12px; font-weight:bold; color:#fff; text-indent:24px; width:118px; height:33px; line-height:33px; background:url(../images/addcar_27.jpg) no-repeat; cursor:pointer; }
.list_more { float:right; padding-right:20px; }
.new_orders_list th { line-height:30px; text-align:left; }
#right2 #sta_content .blk_t { background:url("../images/airconditioning_17.jpg") no-repeat scroll 0 0 transparent; color:#FFFFFF; font-size:12px; height:49px; line-height:38px; overflow:hidden; padding-left:12px; }

/*--- 走马灯样式 ---*/
/*--- 向上 ---*/
.marquee { background: #FFF; overflow:hidden; height: 100px; text-align: center; margin-bottom:8px; padding:0 10px; }
.marquee img { border: 1px solid #E6E6E6; display: block; margin-bottom:5px; }
.marquee p { text-align:left; height:24px; border-bottom:1px dashed #E6E6E6; line-height:24px; padding-left:20px; }
/*--- 左右---*/
.marquee_list { overflow:hidden; text-align:center; margin-bottom:8px; background:#FFF; padding:0 10px; _width:100%; }
.marquee_list img { border:1px solid #E6E6E6; padding:1px; margin:3px; }


.prod_type{padding-top:4px;padding-left:5px;}
/* ---------------公告栏样式----------*/
.bulletin{ height:150px;}
/* ---------------首页公司介绍样式----------*/
.notice_con{ padding:8px;}

/*----------------2种语言---------------------------*/
.switch_langbar { color:#fff; float:right; margin-top:-30px; margin-right:10px;text-align:left;}
.switch_langbar a:link {color: #fff;text-decoration: none;}
.switch_langbar a:visited {text-decoration: none;color: #fff;}
.switch_langbar a:hover {text-decoration: underline;}
.switch_langbar a:active {text-decoration: none;}

.lngbar_option a:link{ color:#444;}
.lngbar_select { color:#444;}
.lngbar_select {border:1px solid #fff;padding:0 3px;cursor:pointer;padding-right:20px;background:#FFF url(../../../images/down.gif) no-repeat right center;} 
.lngbar_option {border-left:1px solid #fff;border-right:1px solid #fff;border-bottom:1px solid #fff;padding:3px;background-color:#FFF;z-index:1000;position:absolute;display:none;} 
.lngbar_option a {display:inline-block;width:100%; color:#fff;}