/*-----------------------------------// 全局样式 //-----------------------------------*/

body,td,th { font-size: 12px; color: #6B6B6B; }
body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-color:#fff; }
a { font-size: 12px; color: #6B6B6B; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; color: #6B6B6B; }
a:hover { text-decoration: underline; color: #4E8307; }
a:active { text-decoration: none; color: #6B6B6B; }
#main_div { width:1024px; margin:0 auto; }
#logo { width:600px; max-height:100px; overflow:hidden }
#header { width:962px; height:96px; /*background-image:url(../images/health_02.jpg);*/}
#topbanner { background:url(../images/bg01.jpg) top center no-repeat; }
#cart { width:150px; height:30px; line-height:30px; position:absolute; margin-top:-160px; margin-left:800px; }
#cart .cart_title { display:none; }
.cart_con { background-image:url(../images/cart_05.jpg); background-position:left; background-repeat:no-repeat; padding-top:6px; padding-left:28px; }
#cart a { color:#000; font-size:12px; }
#cart a:hover { color:#090; font-size:12px; font-weight:bold; text-decoration:underline; }
#cart .list_bot { display:none; }
#nav { width:1024px; height:47px; line-height:44px; background:url(../images/nav.gif) no-repeat; }
.more { display:none; }
.list_more { clear:both; text-align:right; padding-right:20px; }
.list_con { padding-top:5px; }
.list_con ul { line-height:2em; margin-left:10px; }
.list_con ul li { background:url(../images/news_arrow.gif) no-repeat; background-position:0px 10px; width:330px; float:left; padding-left:10px; overflow:hidden; }
.recent { line-height:1.7em; }
.recent_con { padding-top:6px; }
.recent_list { margin:0 auto; width:95%; border-bottom:#CCC 1px dashed; clear:both; padding-bottom:5px; margin-bottom:5px; zoom:1; overflow:auto; }
.artview { margin-bottom:10px; }
.artview_title { height:40px; line-height:30px; border-bottom:#f5f5f5 2px solid; text-align:center; font-size:16px; font-weight:bold; margin-bottom:6px; }
.artview_info { text-align:center; }
.artview_intr { padding:5px; line-height:1.7em; color:#868686; background-color:#F5F5F5; border:#E5E5E5 1px solid; margin-bottom:10px; text-indent:24px; overflow:hidden; height:20px;}
#artview_content { line-height:2em; text-indent:28px; text-align:justify; text-justify:inter-ideograph; }
#artview_content,
#artview_content a { font-size:14px; }
/*--------------导航-----------------------------*/
.navigation { float:left; margin:0; padding:0; }
.navigation li { float:left; position:relative; z-index:2; background-image:url(../images/health_05.jpg); line-height:37px; background-repeat:no-repeat; background-position:0px 0px; padding-left:2px; padding-right:1px; }
.navigation li a { display:block; width:100px; height:42px; color:#fff; font-weight:bold; text-align:center; _overflow:hidden; }
.navigation li a:visited,
.navigation li a.hover:visited { _color:#fff; }
.navigation li a:hover { color:#fff; text-decoration:none; background-image:url(../images/health_07.jpg); _overflow:hidden; }
.navigation li ul { width:130px; display:none; position:absolute; top:40px; left:2px; background-color:#6fbb03; padding:0px; z-index:33; text-align:left; border-bottom:#6fbb03 1px solid; border-right:#6fbb03 1px solid; }
.navigation li ul ul { left:130px; top:20px; z-index:6; top:0; }
.navigation li ul li { display:block; padding:0px; height:25px; line-height:25px; background-color:#6fbb03; border:0; float:none; background-image:none; padding-left:10px; }
.navigation li ul li a { display:block; width:100%; height:25px; line-height:25px; color:#fff; font-weight:normal; text-align:left; background-image:none; padding:0; }
.navigation li ul li a:visited { _color:#fff; background-image:none; }
.navigation li ul li a:hover { color:#fff; background-image:none; line-height:22px; padding:0; margin:0; }
.navigation li.hover ul a { background-image:none; line-height:22px; }

#banner { width:1024px; float:left; overflow:hidden; }
#main_con { width:1024px; min-height:100px; _height:100px; padding-bottom:10px; padding-top:10px; margin-top:50px; }
.main_con_top { width:981px; height:26px; background:url(../images/main_con_top.gif) no-repeat; margin:0 auto; clear:both; }
.main_con_c { width:981px; background:url(../images/main_con_c.gif) repeat-y; margin:0 auto; overflow:hidden; clear:both; }
.main_con_bottom { width:981px; height:26px; background:url(../images/main_con_bottom.gif) no-repeat; margin:0 auto; clear:both; }
/*--- 语言的选择 ---*/
.langbar { clear:both; margin:0 auto; border:1px solid #EAEAEA; clear:both; margin-bottom:9px; overflow:hidden; padding-bottom:5px; zoom:1; overflow:auto; }
.langbar a { display:block; width:60px; float:left; height:20px; margin-right:20px; text-align:center; margin:0 10px; }
#left { width:270px; float:left; padding-left:14px; overflow:hidden; }
.newprod_list { width:110px; float:left; padding-bottom:5px; overflow:hidden; }
.newprod_list { float:none; margin:0 auto; }
.newprod_pic { width:104px; height:92px; border:1px #cdcdcd solid; padding:2px; overflow:hidden; }
.newprod_pic img { width:104px; height:92px; }
.newprod_pic { margin:0 auto; margin-bottom:5px; }
.newprod_name,
.newprod_price,
.newprod_price1 { height:22px; line-height:22px; width:110px; margin:0 auto; text-align:center; overflow:hidden; width:105px; }
.newprod_name a,
.newprod_name a:visited { color:#517C18; text-align:center; font-weight:bold; }
.newprod_price { text-indent:10px; text-align:center; color:#939393; text-decoration:line-through; }
.newprod_price1 { text-indent:10px; color:#DE6116; }
.newprod_xx { width:41px; height:11px; font-size:1px; cursor:pointer; position:absolute; margin-left:98px; margin-top:4px; }
.newprod_gg { width:31px; height:11px; font-size:1px; background-image:url(../images/furniture_45.jpg); cursor:pointer; position:absolute; margin-left:108px; margin-top:4px; }
.newprod_intr { text-align:center; }
#rightmain,
#right { width:680px; float:left; overflow:hidden; }
.art_list_time { float:right; margin-right:10px; }
#right01 { width:408px; float:left; overflow:hidden; padding-right:6px; }
#picBiao { width:260px; float:left; overflow:hidden; }
/*----------------左侧-------------*/
.login_title,.list_title,.cart_title,.newprod_title { height:33px; line-height:33px; background-image:url(../images/health_12.jpg); background-repeat:no-repeat; text-indent:22px; color:#5B8622; font-weight:bold; display:none; }
#left .blk_t { height:31px; line-height:30px; background-image:url(../images/health_12.jpg); background-repeat:no-repeat; text-indent:28px; color:#000; font-weight:bold; font-size:14px; }
#right01 .blk_t { height:31px; line-height:30px; background-image:url(../images/health_120.jpg); background-repeat:no-repeat; text-indent:28px; color:#000; font-weight:bold; font-size:14px; }
#picBiao .blk_t { height:31px; line-height:30px; background-image:url(../images/health_12.jpg); background-repeat:no-repeat; text-indent:28px; color:#000; font-weight:bold; font-size:14px; }
#right .login_title,#right .list_title,#right .cart_title,#right .newprod_title { background-image:url(../images/r_t_26.jpg); height:26px; line-height:29px; overflow:hidden; text-indent:30px; display:none; }
.list_con,.login_con,.newprod_con,.prod_type { min-height:50px; _height:50px; }
#prod_type .prod_type { background-color:#1F4A5B; border:#3B8099 1px solid; border-top:0px; }
.list_bot { display:none; clear:both; height:6px; font-size:1px; line-height:6px; overflow:hidden; background-image:url(../images/furniture_47.jpg); }
#prod_type .list_bot { background-image:url(../images/furniture_36.jpg); }
#right .list_bot { display:none; }
.list_title a,
.list_title a:visited { color:#5B8622; }
.login_con { min-height:50px; _height:50px; }
.login_main { width:230px; }
.login_left { width:80px; padding-right:20px; float:left; height:30px; line-height:30px; text-align:right; }
.login_right { width:125px; float:left; height:30px; line-height:30px; }
.login_right input { margin:0px; padding:0px; border:0px; font-size:12px; color:#333; width:120px; padding-left:5px; padding-right:5px; height:16px; line-height:15px; margin-top:6px; border:1px #0D571E solid; background-color:#F9F9F9; }
.login_all { width:270px; text-align:center; clear:both; padding-bottom:7px; padding-top:2px; }
.login_all input { margin:0px; padding:0px; border:0px; font-size:12px; color:#fff; margin-left:20px; font-size:12px; font-weight:bold; width:52px; height:20px; line-height:17px; background-image:url(../images/health_22.jpg); }
.login_top { height:13px; font-size:1px; }
.login_bot { height:7px; font-size:1px; background-image:url(../images/health_25.jpg); }
.login_all1 { padding-left:12px; height:22px; line-height:22px; }
.login_all1 a { padding-left:10px; background-image:url(../images/lido_11.jpg); background-repeat:no-repeat; background-position:0px 4px; }
.list_con { padding-top:7px; }
.list_con ul { line-height:2em; margin-left:20px; }
.list_con ul li { width:260px; background-image:url(../images/health_29.jpg); text-indent:10px; background-position:0px 10px; background-repeat:no-repeat; overflow:hidden; }
#right .list_con ul li { width:320px; float:left; }
#footer { clear:both; width:961px; color:#767570; line-height:1.5em; text-align:center; padding-bottom:5px; padding-top:5px; margin:0 auto; }
#footer a,
#footer a:visited { color:#767570; }

a img { border:0px; }
.newtopic { line-height:2em; font-size:12px; }
.newtopic,
.newtopic a { }
.newtopic img { float:left; margin-right:10px; margin-top:7px; }
#right2 { padding:6px; }
/*static*/
#sta_content { font-size:12px; line-height:2em; margin-bottom:10px; width:668px text-align:justify;
text-justify:inter-ideograph; ; overflow:hidden; }
#sta_content p { text-indent:24px; }
/**/
.neirongshow { text-align:justify; text-justify:inter-ideograph; ; padding-top:6px; width:668px; overflow:hidden; }
/*------------产品类别----------*/
.art_list_title { border-bottom:#E1E0E0 1px solid; margin-bottom:5px; height:30px; font-weight:bold; line-height:30px; background-image:url(../images/a_list_03.jpg); background-repeat:no-repeat; text-indent:30px; }
.art_list_search { position:absolute; margin-left:426px; margin-top:-32px; }
#pagerwrapper { clear:both; margin-bottom:10px; }
.prod_list_con { padding-top:7px; }
.pic_list_list,
.prod_list_list { width:162px; }
.prod_list_list { float:left; line-height:1.5em; }
.prod_list_pic,
.prod_list_pic img { width:120px; height:150px; margin:0 auto; }
.prod_list_pic { border:#E9E9E9 1px solid; }
.prod_list_name,
.prod_list_type { width:135px; height:32px; overflow:hidden; text-align:center; margin-top:5px; }
.prod_list_intr { display:none; width:135px; margin:0 auto; padding-top:6px; color:#999999; padding-bottom:6px; height:68px; overflow:hidden; }
.prodview_info { padding-left:15px; height:23px; }
.prodview_pic,
.prodview_pic img { width:200px; height:225px; }
.prodview_pic { float:left; margin-right:15px; margin-left:20px; border:#CCCCCC 4px solid; }
.prodview_prices { line-height:2.5em; }
.prodview_prices img { float:left; margin:6px; }
.prodview_prices input { width:47px; height:16px; line-height:16px; background-image:url(../images/cart_s_24.jpg); padding-left:5px; padding-right:5px; }
.prodview_content { clear:both; padding-left:25px; padding-top:8px; line-height:1.7em; min-height:50px; width:680px; overflow:hidden; }
/*pic_list*/
.pic_list_list { float:left; }
.pic_list_pic,
.pic_list_pic img { width:120px; height:97px; }
.pic_list_pic { border:#CCCCCC 3px solid; margin:0 auto; }
.pic_list_name { height:27px; line-height:27px; text-align:center; }
.langbar { display:block; clear:both; margin:0 auto; min-height:20px; _height:20px; padding-left:10px; padding-top:6px; }
.langbar a { display:block; width:66px; height:20px; line-height:20px; background-image:url(../images/lang_03.jpg); text-align:center; float:left; margin-right:20px; }
/*order list*/
.ordernow { position:absolute; margin-left:550px; margin-top:-33px; }
.cartlist_list { padding-top:5px; }
.cartlist_pic,
.cartlist_pic img { width:75px; height:75px; }
.cartlist_pic { border:#CCCCCC 2px solid; margin-left:20px; margin-right:20px; float:left; _margin-left:10px; }
.cartlist_nametype { width:415px; float:left; line-height:3em; }
.cartlist_no { line-height:3em; }
.cartlist_no input,
#amount { border:0px; margin:0px; padding:0px; width:47px; height:16px; line-height:16px; padding-left:5px; padding-right:5px; border:#999999 1px solid; }
.cartlist_intr { clear:both; line-height:1.5em; padding-top:5px; padding-bottom:7px; padding-left:25px; border-bottom:#CCCCCC 1px dashed; font-family: "宋体"; }
/*Order contrl*/
.order_1,
.order_2,
.order_3,
.order_4,
.order_5 { width:195px; height:30px; line-height:30px; float:left; margin-left:10px; overflow:hidden; }
.order_1 { width:195px; margin-left:20px; overflow:hidden; }
.order_2 { width:100px; }
.order_3 { width:100px; }
.order_4 { width:100px; }
.order_5 { width:77px; }
.ordertotle { width:449px; height:30px; line-height:30px; float:left; margin-left:20px; }
.o_b1 { height:2px; font-size:1px; margin-top:6px; border-bottom:#CCCCCC 1px solid; margin-bottom:10px; clear:both; }
.o_b { height:2px; font-size:1px; border-bottom:#CCCCCC 1px dashed; clear:both; }
.addr { border-bottom:#DEDEDE 1px solid; height:30px; line-height:30px; margin-top:4px; }
.addr1 { width:85px; margin-left:20px; height:30px; line-height:30px; background-color:#DEDEDE; text-align:center; }
.addr2 { border:#DEDEDE 1px solid; padding:5px; line-height:2.5em; border-top:0px; min-height:20px; _height:20px; }
.addr2 a { color:#003399; }
.submit_order { margin:0; padding:0; font-size:12px; border:0; height:19px; line-height:19px; background-image:url(../images/sendorder.jpg); cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:20px; text-align:center; color:#333; }
/*list search*/
#article_keyword,
#prd_keyword,
#download_keyword { border:0px; padding:0px; margin:0px; width:160px; height:18px; line-height:14px; padding-left:5px; padding-right:5px; border:1px #0D571E solid; background-color:#F9F9F9; }
#articlesearch_submit,
#prdsearch_submit,
#downloadsearch_submit { border:0px; padding:0px; margin:0px; width:52px; height:20px; line-height:18px; background:url(../images/health_22.jpg) no-repeat; color:#fff; font-size:12px; font-weight:bold; margin-left:15px; }
.recent { line-height:1.7em; }
.recent_con { padding-top:6px; }
.recent_list { text-indent:24px; border-bottom:#CCCCCC 1px dashed; padding-bottom:5px; margin-bottom:5px; }
.prod_type { padding-top:4px; }
.prod_type ul { width:90%; margin:0 auto; float:none; }
.prod_type ul li { padding-bottom:4px; margin-bottom:5px; border-bottom:#265567 1px dashed; background-image:url(../images/health_29.jpg); background-position:0px 10px; background-repeat:no-repeat; text-indent:10px; }
.prod_type ul li a { display:block; height:25px; line-height:25px; }
.prod_type ul li a:hover,
.prod_type ul li.act a { }
.prod_type ul ul { display:none; }
.prod_type ul ul li { text-indent:20px; border:0px; padding:0px; background-position:10px 10px; }
/*--- 右侧下的留言板 ---*/
#right .mess_input input { height:18px; line-height:18px; width:120px; }
#right .mess_textarea textarea { width:130px; height:50px; }
#right .mess_submit { padding-left:75px; }
#right .message_bg { display:none; }
#right .mess_list { margin-bottom:3px; }
/*Message*/
#left .mess_input input { height:18px; line-height:18px; width:130px; }
#left .mess_textarea textarea { width:130px; height:50px; }
#left .mess_submit { padding-left:75px; }
#left .message_bg { display:none; }
#left .mess_list { margin-bottom:3px; }
#right2 .mess_submit { padding-left:105px; }
#right2 .mess_input input { width:480px; height:22px; line-height:22px; }
#right2 .mess_textarea textarea { width:480px; height:150px; }
#right2 .mess_submit { width:405px; text-align:center; }
#right2 .message_bg { width:622px; height:0px; background:url(../images/message_pic.jpg) no-repeat; } /*留言图片设置*/
.mess_list { clear:both; overflow:auto; zoom:1; margin-bottom:10px; }
.mess_title,
.mess_input,
.mess_textarea { float:left; display:inline; }
.mess_title { width:60px; text-align:right; margin-right:15px; }
.mess_input input,
.mess_textarea textarea { border:1px solid #d6d6d6; }
.mess_textarea textarea { overflow:auto; }
/*留言图片设置*/
#mess_main { padding:10px 0; overflow:hidden; }
.mess_list { clear:both; overflow:auto; zoom:1; margin-bottom:10px; }
.mess_title,
.mess_input,
.mess_textarea { float:left; display:inline; }
.mess_title { width:60px; text-align:right; margin-right:15px; }
.mess_input input,
.mess_textarea textarea { border:1px solid #d6d6d6; }
.mess_textarea textarea { overflow:auto; }
.subd { width:79px; border:0px; height:25px; line-height:19px; background-image:url(../images/sendorder01.jpg); cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:20px; text-align:center; color:#fff; font-size:12px; font-weight:bold; }
#left .list_con .flink_index li,
#right .list_con .flink_index li { float:left; width:110px; height:31px; _display:inline; list-style:none; background:none; padding-bottom:10px; }
#left .list_con .flink_index li img,
#right .list_con .flink_index li img { width:88px; height:31px; margin:0 auto; }
#left .list_con .flink_index li,
#right .list_con .flink_index li { background:none; }
#left .flink_index li a,
#left .flink_index li img,
#right .flink_index li a,
#right .flink_index li img { cursor:pointer; }
.regformsub input { width:80px; border:0px; height:21px; line-height:19px; background-image:url(../images/sendorder.jpg); cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:110px; text-align:center; color:#333; border:0px; }
.status { padding:10px; background-color:#FFFBD0; border:#EE9C5F 1px solid; color:#666666; }
#yzmshow { position:absolute; float:left; display:none; margin-left:25px; margin-top:15px; z-index:3; }
#yzmshow img { height:18px; margin-top:2px; border:#ccc 2px solid; }
#loginform_stat { height:25px; line-height:25px; width:90%; margin:0 auto; width:200px; display:none; }
.more { display:none; }
/*counter*/
.counter { text-indent:10px; height:26px; line-height:26px; color:#fff; background-color:#565656; border:#383838 1px solid; }
.counter span { float:left; }
#counterpic { float:left; margin-top:-2px; }
#counterpic img { float:left; margin-left:2px; margin-top:5px; }
.jsq { float:left; min-width:12px; margin-right:4px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; line-height:14px; text-align:center; background-color:#fff; color:#000; text-indent:0px; margin-top:6px; }
/*--- qq ---*/
.qq_list_con ul li { margin-bottom:5px; clear:both; }
#left .qq_list_con ul li { float:left; margin-right:10px; margin-bottom:5px; clear:none; width:180px; }
.qq_list_con { border:1px solid #eaeaea; margin-bottom:9px; padding-bottom:5px; zoom:1; overflow:auto; overflow-x:hidden; overflow-y:hidden; padding:5px; }
#right .qq_list_con ul li { float:left; margin-right:10px; margin-bottom:5px; clear:none; width:180px; }
/*flink*/

ul.flink_index { line-height:2em; _height:30px; margin:0 auto; margin-left:0px; padding-top:8px; }
ul.flink_index li { padding:0px; background-image:none; float:left; text-indent:0px; width:100px; text-align:center; height:30px; }
ul.flink_index li img { padding:0px 12px; width:88px; height:31px; margin:0 auto; }
/*art_view*/
.artview { margin-bottom:10px; }
.artview_title { height:40px; line-height:30px; border-bottom:#f5f5f5 2px solid; text-align:center; font-size:16px; font-weight:bold; margin-bottom:6px; }
.artview_info { height:30px; text-align:center; }
#artview_content { font-size:12px; line-height:2em; margin-bottom:10px; width:668px text-align:justify;
text-justify:inter-ideograph; ; overflow:hidden; }
#artview_content,
#artview_content a { font-size:12px; }
#artview_content p { text-indent:24px; }
/*admin toolbar*/
#adminToolbar { width:100%; height:38px; background:url(../images/admintoolbar_bg.gif) repeat-x; border-bottom:1px solid #000; z-index:99; }
#adminToolbar ul { float:left; text-align:left; height:38px; background:url(../images/admintoolbar_lo.gif) no-repeat; padding-left:150px; }
#adminToolbar ul li { float:left; padding:9px; position:relative; z-index:98; }
#adminToolbar .section { float:left; padding:0 10px; height:18px; line-height:18px; background:url(../images/admintoolbar_bt_bg.gif) repeat-x top; color:#012d5f; border:1px solid #6da5c7; }
#adminToolbar .section:hover { background:url(../images/admintoolbar_bt_bg.gif) repeat-x bottom; color:#a15b00; border:1px solid #dea303; }
.adminToolbar_downmenu { display:none; position:absolute; width:100px; padding:10px; background:#fff; top:29px; left:10px; }
.adminToolbar_downmenu a { display:block; height:24px; line-height:24px; color:#012d5f; }
.admintoolbar_right { float:right; padding-right:40px; line-height:38px; color:#00c6ff; }
.admintoolbar_right a { color:#fff; }
.admintoolbar_right a:hover { color:#00c6ff; }
.mod_toolbar { height:24px; line-height:24px; background:#000; text-align:left; padding-left:5px; z-index:-1; }
.mod_toolbar img { vertical-align: middle; }
.mod_toolbar a { font-size: 11px; color:#FFFFFF; }
/* sortable placeholder */
.web_bg .sortable_placeholder { display: block; border: 1px solid #efefef; height: 32px; background: #ccc; }
.placeholder { display: block; height: 12px; }
ul { margin:0px; padding:0px; list-style-type:none; }
.blankbar { height:9px; line-height:9px; font-size:1px; clear:both; }
.blankbar1 { height:1px; line-height:1px; font-size:1px; clear:both; }
#pager { margin: 0px auto; margin-top:20px; }
#pager td { color:#999999; padding-left:5px; padding-right:5px; }
#pager td a img { margin-left:2px; padding-right:2px; margin-top:2px; }
p.static_html { font-size:14px; }
p.static_html img { margin:10px; }
.mod_toolbar { line-height:28px; text-align:right; padding-right:5px; z-index:90; opacity: 0.8; filter: alpha(opacity=80); cursor: move; position: absolute; }
.pos_wrapper { position: relative; }
#product_gallery { margin: 8px; }
.product_gallery_pic { border: 3px solid #ececec; margin: 0px 0px 3px 6px; width: 120px; }
#right2 .art_list_con,
#right2 .prod_list_con { border:1px solid #eaeaea; margin-bottom:9px; padding:8px; zoom:1; overflow:auto; scrollbar-face-color: #E6E6E6; scrollbar-highlight-color: #ffffff; scrollbar-shadow-color: #ffffff; scrollbar-3dlight-color: #B0B0B0; scrollbar-arrow-color: #666666; scrollbar-track-color: #f5f5f5; scrollbar-color: #B0B0B0; scrollbar-darkshadow-color: #9C9C9C; }
#right2 .art_list_con ul li { border-bottom:1px dashed #CCC; height:30px; line-height:30px; }
#right2 .art_list_con ul li .l_title { float:left; width:460px; height:30px; overflow:hidden; background:url(../images/news_arrow.gif) no-repeat left; background-position:0px 10px; padding-left:15px; }
#right2 .art_list_con ul li .n_time { float:right; color: #7E7E7E; padding-right:15px; }
#right2 .art_list_con ul li .art_list_time { float:right; color: #7E7E7E; padding-right:15px; }
/*--注册--*/
.reg_bg { background:url(../images/reg_pic.jpg) no-repeat bottom; height:396px; }/*如果不要背景请设为display:none*/
#regform_table { width:598px; margin:0 auto; }
#regform_table .regform_table_s { width:320px; margin:0 auto; }
#regform_table td { text-align:left; }
#regform_table td.td_sub { padding-left:80px; }
#regform_table input { width:93px; _width:120px; height:18px; line-height:18px; padding-left:8px; padding-right:8px; border:#9CA9C9 1px solid; font-size:12px; color:#666; margin-top:4px; }
/*登录*/
.login_info { height:22px; line-height:22px; clear:both; margin-left:10px; }
.login_info a { border:1px solid #CCC; padding:2px; background:#F6F6F6; clear:both; }
input.add_to_cart_b_view { background:none; margin:0; padding:0; border:0; font-size:12px; color:#333; text-indent:24px; width:139px; height:40px; font-weight:bold; background-image:url(../images/add_to_cart.jpg); cursor:pointer; margin-top:5px; }
* html input.add_to_cart_b_view { margin-top:10px; }
*+html input.add_to_cart_b_view { margin-top:4px; }
.saving_o_b { background:none; background:url(../images/onlinepay.jpg) no-repeat; cursor:pointer; width:135px; height:21px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:30px; color:#3A3A3A; font-size:12px; font-weight:bold; }
.order_now_b { background:none; background-image:url(../images/order.jpg); cursor:pointer; width:95px; height:21px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:-9999px; color:#3A3A3A; }
.Modify_items_b { background:none; background:url(../images/cgwp.jpg) no-repeat; cursor:pointer; width:135px; height:21px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:33px; font-size:12px; font-weight:bold; color:#3A3A3A; }
.login_main { width:320px; margin:0 auto; }
/*--- 订购表单控制修正 ---*/
.new_orders_list { margin:10px 0 0 10px;  }
.new_orders_list td { border-bottom:1px dashed #d8d8d8; width:117px; height:30px; padding-top:4px; _display:inline; overflow:hidden; text-align:left; }
.new_orders_list th { border-bottom:1px dashed #d8d8d8; width:117px; height:30px; _display:inline; overflow:hidden; text-align:left; }
.order_1,
.order_2,
.order_3,
.order_4,
.order_5 { line-height:30px; height:32px; float:left; margin-left:10px; _display:inline; }
.order_1 { width:125px; overflow:hidden; }
.order_2 { width:117px; overflow:hidden; }
.order_3 { width:117px; overflow:hidden; }
.order_4 { width:117px; overflow:hidden; }
.order_5 { width:117px; overflow:hidden; }
.ordertotle { width:382px; height:30px; line-height:30px; float:left; padding-left:6px; overflow:hidden; }
.o_b1 { height:2px; font-size:1px; border-bottom:#CCC 1px solid; clear:both; }
.o_b { height:2px; font-size:1px; border-bottom:#CCC 1px dashed; clear:both; }
.addr { border-bottom:#DEDEDE 1px solid; height:30px; line-height:30px; margin-top:4px; }
.addr1 { width:85px; margin-left:20px; height:30px; line-height:30px; background-color:#DEDEDE; text-align:center; overflow:hidden; }
.addr2 { border:#DEDEDE 1px solid; padding:5px; line-height:2.5em; border-top:0px; min-height:20px; }
.addr2 a { color:#003399; }


.prod_type{padding-top:4px;padding-left:5px;}
/* ---------------公告栏样式----------*/
.bulletin{ height:150px;}
/* ---------------首页公司介绍样式----------*/
.notice_con{ padding:8px;}

/* ---------------语言栏样式----------*/
.lngbar_select {border:1px solid #74983B;padding:0 3px;cursor:pointer;padding-right:20px;background:#FFF url(../../../images/down.gif) no-repeat right center;}
.lngbar_option {border-left:1px solid #74983B;border-right:1px solid #74983B;border-bottom:1px solid #74983B;padding:3px;background-color:#FFF;z-index:1000;position:absolute;display:none;}
.lngbar_option a {display:inline-block;width:100%;}

.switch_langbar { color:#444; float:right; margin-top:-25px; margin-right:15px; text-align:left;}
.switch_langbar a:link {color: #444;text-decoration: none;}
.switch_langbar a:visited {text-decoration: none;color: #444;}
.switch_langbar a:hover {text-decoration: underline;}
.switch_langbar a:active {text-decoration: none;}
.lngbar_option a:link { color:#444;}
.lngbar_select { color:#444;}