.show_img{ width:200px; overflow:hidden;}
body,td,th {font:12px/180% Arial,"宋体",Helvetica, sans-serif,Verdana; color:#87602f;}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../images/web_bg.jpg);
	
}
a {
	font-size: 12px;
	color: #87602F;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #FF5400;
}
a:active {
	text-decoration: none;
	color: #87602F;
}

#main {background: url(../images/main_bg.jpg) repeat-x #fff ; width:943px; padding:0 10px; margin:0 auto;}
#main_div{
width:943px;
margin:0 auto;
}

.top_s{ max-height:100px;}
.logo_lang{ width:943px; margin:0 auto;}
#logo{ padding:10px 0; width:270px; background: url(../images/logo_bg.jpg) repeat-x; float:left; margin-right:10px; overflow:hidden;}
#logo img{ text-align:center;}
#n_lang{ float:right; padding:40px 40px 0 0; margin-left:45px;}
#header{ width:943px; margin:0 auto;}

.login_main{}


.cart_con{
float:left;
padding-right:4px;
padding-top:7px;
background-image:url(../images/cart_06.jpg);
background-position:left;
background-repeat:no-repeat;
padding-left:10px;
}

#nav{width:650px;_width:650px;height:62px;background:url(../images/navbar_bg.jpg) center top repeat-x; float:left; z-index:100;}
.navigation{margin:0; }
.navigation li{float:left;width:100px;height:74px;line-height:74px;background:url(../images/nav_li_bg.png) left center no-repeat; text-align:center;}
.navigation li a{display:block;color:#181818;font-weight:bold; width:100px; text-decoration:none;}
.navigation li a:hover,.navigation li.act a{color:#fff; display:block; width:100px; background:url(../images/hover.gif) 0px 19px repeat-x;z-index:6; text-decoration:none;}
.navigation li ul { width:100px; display:none; position:absolute; margin:-12px 0px 0px 0px; *margin:-12px 0px 0px -50px; background:#282828;}
.navigation li ul ul { position:absolute; left:100px; top:12px; *left:150px; *top:12px;}
.navigation li ul li { position:relative; display:block; padding:0px; width:100px; height:24px; background:#282828;}
.navigation li ul li a { display:block; height:24px; line-height:24px; color:#fff; font-weight:normal; background:none;}
.navigation li ul li a:hover { color:#fff; background:#000;}

#banner {
width:650px; float:left; overflow:hidden;}
#main_con{
width:943px;
min-height:100px;
_height:100px; 
padding-bottom:10px;
padding-top:10px;
_padding-top:0px;
}
#left{
width:270px;
_width:265px;
float:left;
margin-top:26px;
_display:inline;
margin-right:10px;
_margin-right:15px;
overflow:hidden;
position:relative;
z-index:10;
}


.newprod_list{
width:160px;
float:left;
padding-bottom:5px;
}
#left .newprod_list{
width:130px;
}
.newprod_pic{ width:160px; height:130px; overflow:hidden; vertical-align:middle; text-align:center;}
.newprod_pic,.newprod_pic img{
width:160px;  height:100px;
}
#left .newprod_pic,#left .newprod_pic img{
width:130px;
height:65px;
}

.newprod_pic, .newprod_pic img{width:133px; height:133px;overflow:hidden;}
.newprod_name,.newprod_price,.newprod_price1{
line-height:17px;
width:140px;
margin:0 auto;
}
#left .newprod_name,#left .newprod_price,#left .newprod_price1{
width:100px;height:22px; line-height:22px; text-align:center; overflow:hidden;
}
#right .newprod_name{line-height:22px; width:160px; text-align:center; height:22px; overflow:hidden;}
#right .newprod_name a{display:block; width:150px;overflow:hidden;white-space:nowrap;padding-right:7px;text-overflow:ellipsis;-o-text-overflow: ellipsis; height:22px; line-height:22px; text-align:center;}
.newprod_intr{ height:22px; line-height:22px; text-align:center; overflow:hidden;}
#right .newprod_name:after{content:"...";}

#left .newprod_name{line-height:22px; width:100px; text-align:center; height:22px; overflow:hidden;}
#left .newprod_name a{display:block; width:90px;overflow:hidden;white-space:nowrap;padding-right:7px;text-overflow:ellipsis;-o-text-overflow: ellipsis;}
#left .newprod_name:after{content:"...";}

.newprod_name a,.newprod_name a:visited{
color:#517C18;
}
.newprod_price{
	text-align:center;
color:#939393;
text-decoration:line-through;
}
.newprod_price1{
text-indent:10px;
color:#DE6116;
}
.newprod_xx{
width:41px;
height:11px;
font-size:1px;
background-image:url(../images/furniture_41.jpg);
cursor:pointer;
position:absolute;
margin-left:98px;
margin-top:4px;
}
.newprod_gg{
width:31px;
height:11px;
font-size:1px;
background-image:url(../images/furniture_45.jpg);
cursor:pointer;
position:absolute;
margin-left:108px;
margin-top:4px;
}
#left .newprod_xx,#left .newprod_gg{
display:none;
}


#right{
width:650px;
float:left;
_display:inline;
overflow:hidden;
}
#left .login_title,#left .list_title,#left .cart_title,#left .newprod_title,#left .blk_t{ width:240px;}
.login_title,.list_title,.cart_title,.newprod_title,.blk_t{
height:50px;
line-height:46px;
background:url(../images/left_class_bg.gif) no-repeat;
padding-left:30px;
color:#181818;
font-weight:bold;
}
.list_title a,.list_title a:visited{
color:#fff;
}
#right .list_title a,#right .list_title a:visited{
color:#805D27;
}

#right .login_title,#right .list_title,#right .cart_title,#right .newprod_title,#right .blk_t{
background:url(../images/class_bg_02.gif) no-repeat;
color:#fff;
padding-left:30px;
margin-bottom:8px;
}
.list_con,.login_con,.newprod_con,.prod_type{
min-height:50px;
_height:50px;
padding-top:8px;
}
#prod_type .prod_type{
background-color:#1F4A5B;
border:#3B8099 1px solid;
border-top:0px;
}

.list_bot{
display:none;
clear:both;
height:6px;
font-size:1px;
line-height:6px;
overflow:hidden;
background-image:url(../images/furniture_47.jpg);
}
#prod_type .list_bot{
background-image:url(../images/furniture_36.jpg);
}
#right .list_bot{
display:none;
}
#right .list_title a,#right .list_title a:visited{
color:#fff;
}

.login_con{
min-height:50px;
_height:50px;
background-image:url(../images/login_23.jpg);
}

.login_left{
width:75px;
padding-right:10px;
float:left;
height:30px;
line-height:30px;
text-align:right; color:#8f8f8f;
}
.login_right{
width:151px;
float:left;
height:30px;
line-height:30px;
}
.login_right input{
margin:0px;
padding:0px 5px;
border:0px;
font-size:12px;
color:#333;
width:140px;
height:21px;
line-height:21px;
background:url(../images/input_bg.gif) no-repeat #f2d49e;
}
.login_all{
text-align:center;
clear:both;
padding-bottom:7px;
}
.login_all input{
margin:0px;
padding:0px;
border:0px;
font-size:12px;
color:#fff;
margin-left:20px;
width:71px;
height:23px;
line-height:23px;
background:url(../images/login_input_bg.gif) no-repeat;
cursor:pointer;
}


.login_top{
height:13px;
font-size:1px;
background-image:url(../images/health_15.jpg);
}
.login_bot{
height:7px;
font-size:1px;
background-image:url(../images/health_25.jpg);
}

.login_all1{
padding-left:12px;
height:22px;
line-height:22px;}
.list_con{
padding-top:7px;
}
.list_con ul{
line-height:2em;
margin-left:20px;
}
.list_con ul li{
background-image:url(../images/hotel_34.jpg);
text-indent:10px;
background-position:0px 10px;
background-repeat:no-repeat;
}
#right .list_con ul li{
}

#right .login_con{ width:340px; margin-left:80px;}
#right .login_con .login_right{ width:151px;}
#right .login_con .login_left,#right .login_con .login_right{ float:left; _display:inline;}
#right .login_con .login_all{ text-align:center; padding-left:160px;}

#footer{
clear:both;
width:943px;
margin:0 auto;
color:#8c9087;
text-align:center;
line-height:1.5em;
padding-top:5px;
background:url(../images/hotel_37.jpg) repeat-x #eff1ec;
}
#footer a,#footer a:visited{
color:#654D4D;
}

/*Commen CSS*/


#right .login_left{
width:173px;
padding-right:10px;
float:left;
}
#right .login_right{
width:473px;
float:left;
height:30px;
line-height:30px;
}

a img{
border:0px;
}
.newtopic{
line-height:2em;
font-size:12px;
}
.newtopic,.newtopic a{
}
.newtopic img{
float:left;
margin-right:10px;
margin-top:7px;
}

#right2{
padding-top:10px;
}
.mess_left{ width:360px;}
/*static*/
#sta_content{
font-size:14px;
line-height:2em;
margin-bottom:10px;
width:640px;
overflow:hidden;
}

/**/
.neirongshow{
padding-top:6px;
width:732px;
overflow:hidden;
}
/*article list all*/
.art_list_title{
	overflow:hidden;
border-bottom:#E1E0E0 1px solid;
margin-bottom:5px;
height:30px;
font-weight:bold;
line-height:30px;
background-image:url(../images/a_list_03.jpg);
background-repeat:no-repeat;
text-indent:30px;
}
.art_list_search{
position:absolute;
margin-left:420px;
margin-top:-32px;
}
.art_list_search #prd_keyword,.art_list_search #article_keyword{background:url(../images/input_bg.gif) no-repeat #f2d49e;height:21px;line-height:21px; border:0; width:140px;}
.art_list_search #prdsearch_submit,.art_list_search #articlesearch_submit{background:url(../images/login_input_bg.gif) no-repeat;width:71px;height:23px;line-height:23px;cursor:pointer;}

/*语言栏*/
.langbar a{background:url(../images/login_input_bg.gif) no-repeat;width:71px;height:23px;line-height:23px; color:#fff; margin-right:10px; display:block; text-align:center; float:left;}


#pagerwrapper{
clear:both;
margin-bottom:10px;
}
.prod_list_con{
padding-top:7px;
}
.pic_list_list,.prod_list_list{
width:166px;
float:left;
_display:inline;
padding:10px 27px;
height:190px;
overflow:hidden;
}
.prod_list_list{
float:left;
line-height:1.5em; border-top:6px solid #F2F4EF; background:url(../images/line_y.gif) repeat-y 219px 0;
}
.prod_list_pic,.prod_list_pic img{
width:160px;
margin:0 auto; height:130px;
}
.prod_list_pic{ width:160px; height:130px; overflow:hidden; vertical-align:middle;}
.prod_list_pic{
border:#FFF 3px solid;
}
.prod_list_pic:hover{border:#9a7843 3px solid;}
.prod_list_name,.prod_list_type{
text-align:center;
margin-top:5px; height:22px; line-height:22px; overflow:hidden;
}
.prod_list_intr{ display:none;
width:135px;
margin:0 auto;
padding-top:6px;
color:#999999;
padding-bottom:6px;
height:68px;
overflow:hidden;
}

.prodview_info{
padding-left:15px;
height:23px;
}
.prodview_pic,.prodview_pic img{
width:160px;
height:130px;
}
.prodview_pic{
float:left;
margin-right:15px;
margin-left:20px; _margin-left:10px;
border:#CCCCCC 4px solid;
}
.prodview_prices{
line-height:2.5em;
}
.prodview_prices img{
float:left;
margin:6px;
}
.prodview_prices input{
width:47px;
height:16px;
line-height:16px;
background-image:url(../images/cart_s_24.jpg);
padding-left:5px;
padding-right:5px;
}
.prodview_content{
clear:both;
padding-left:25px;
padding-top:8px;
line-height:1.7em;
min-height:50px;

width:624px;
overflow:hidden;
}
/*pic_list*/
.pic_list_list{
float:left;
}
.pic_list_pic,.pic_list_pic img{
width:120px;
height:97px;
}
.pic_list_pic{
border:#CCCCCC 3px solid;
margin:0 auto;
}
.pic_list_name{
height:27px;
line-height:27px;
text-align:center;
}

/*order list*/
.ordernow{
position:absolute;
margin-left:550px;
margin-top:-33px;
*margin-left:285px;

}
.cartlist_list{
padding-top:5px;
}
.cartlist_pic img{
width:75px;
height:75px;
}
.cartlist_pic{
border:#CCCCCC 2px solid;
margin-left:20px;
margin-right:20px;
float:left;
}
.cartlist_nametype{
width:415px;
float:left;
line-height:3em;
}
.cartlist_no{
line-height:3em;
}
.cartlist_no input,#amount{
border:0px;
margin:0px;
padding:0px;
width:47px;
height:16px;
line-height:16px;
padding-left:5px;
padding-right:5px;
border:#999999 1px solid;
}
.cartlist_intr{
clear:both;
line-height:1.5em;
padding-top:5px;
padding-bottom:7px;
padding-left:25px;
border-bottom:#CCCCCC 1px dashed;
}
/*--- 订购表单控制 ---*/
.new_orders_list{ margin:10px 0 0 10px;}
.new_orders_list td{border-bottom:1px dashed #d8d8d8;width:117px; height:30px; padding-top:4px;_display:inline;overflow:hidden; text-align:center;}
.new_orders_list th{border-bottom:1px dashed #d8d8d8;width:117px; height:30px; _display:inline;overflow:hidden; text-align:center;}
.order_1,.order_2,.order_3,.order_4,.order_5{line-height:30px;height:32px;float:left;margin-left:10px; _display:inline;}
.order_1{width:125px;overflow:hidden;}
.order_2{width:117px;overflow:hidden;}
.order_3{width:117px;overflow:hidden;}
.order_4{width:117px;overflow:hidden;}
.order_5{width:117px;overflow:hidden;}
.ordertotle{width:382px;height:30px;line-height:30px;float:left; padding-left:6px;overflow:hidden;}
.o_b1{height:2px;font-size:1px;border-bottom:#CCC 1px solid;clear:both;}
.o_b{height:20px;font-size:5px;border-bottom:#CCC 1px dashed;clear:both;}
.addr{border-bottom:#DEDEDE 1px solid;height:30px;line-height:30px;margin-top:4px;}
.addr1{width:85px;margin-left:20px;height:30px;line-height:30px;background-color:#DEDEDE;text-align:center;overflow:hidden;}
.addr2{border:#DEDEDE 1px solid;padding:5px;line-height:2.5em;border-top:0px;min-height:20px;}
.addr2 a{color:#003399;}
.submit_order{ font-size:12px; height:28px;  background:url(../images/ndorder.gif) no-repeat #444; cursor:pointer; margin:7px 0 7px 20px; text-align:center; border:none; line-height:28px; width:80px; color:#fff;}
.submit_order_wrapper{ height:100px;}


/*list search*/
#article_keyword,#prd_keyword,#download_keyword{
border:0px;
padding:0px;
margin:0px;
width:141px;
height:14px;
line-height:14px;
padding-left:5px;
padding-right:5px;
border:#CCCCCC 1px solid;
}
#articlesearch_submit,#prdsearch_submit,#downloadsearch_submit{
border:0px;
padding:0px;
margin:0px;
width:44px;
height:18px;
line-height:18px;
background-color:#6D6D6D;
color:#fff;
margin-left:15px;
}


.recent{
line-height:1.7em;
}
.recent_con{
padding-top:6px;
}

.recent_list{
text-indent:24px;
border-bottom:#CCCCCC 1px dashed;
padding-bottom:5px;
margin-bottom:5px;
}

/*--- 产品类别 ---*/
.prod_type{padding-top:4px;padding-left:14px;padding-left:14px\9;*padding-left:0px;_padding-left:0px;}
.prod_type ul{margin:0 auto;float:none;width:90%;}
.prod_type ul li{padding:0 0 4px 18px; margin-bottom:5px;border-bottom:#ccc 1px dashed;}
.prod_type ul li a{height:29px;line-height:29px;}
.prod_type ul li a:hover,.prod_type ul li.act a{}
.prod_type ul ul{display:none;}
.prod_type ul ul li{text-indent:20px;border:0px;padding:0px;background-position:0px 8px;}
.prod_type ul li, .prod_type ul li a, .prod_type ul li a:visited{ }

/*--- 产品类别新样式 ---*/
.prod_type_n{padding-top:4px;padding-left:14px;padding-left:14px\9;*padding-left:0px;_padding-left:0px;}
.prod_type_n ul{margin:0 auto;float:none;width:90%;}
.prod_type_n ul li{padding:0 0 4px 18px; margin-bottom:5px;border-bottom:#ccc 1px dashed;}
.prod_type_n ul li a{height:29px;line-height:29px;}
.prod_type_n ul li a:hover,.prod_type ul li.act a{}
.prod_type_n ul ul{display:none;}
.prod_type_n ul ul li{border:0px;padding:0 0 4px 18px;}
.prod_type_n ul li, .prod_type_n ul li a, .prod_type_n ul li a:visited{ }

/*Message*/
#left .mess_input input{height:18px; line-height:18px; width:150px;}
#left .mess_textarea textarea{ width:150px; height:50px;}
#left .mess_submit{ padding-left:75px;}
#left .message_bg{ display:none;}
#left .mess_list{ margin-bottom:3px;}

#right2 .mess_submit{ padding-left:105px;}
#right .mess_input input{ width:480px; height:22px; line-height:22px;}
#right2 .mess_input input{ width:480px; height:22px; line-height:22px;}
#right .mess_textarea textarea{width:480px; height:150px;}
#right2 .mess_textarea textarea{width:480px; height:150px;}
#right .mess_submit{ text-align:center;}
#right .message_bg { width:622px; height:263px; background:url(../images/message_pic.jpg) no-repeat; display:none;} /*留言图片设置*/
#right2 .mess_submit{ width:405px; text-align:center;}
#right2 .message_bg { width:622px; height:263px; background:url(../images/message_pic.jpg) no-repeat; display:none;} /*留言图片设置*/
#mess_main{ padding:10px 0; overflow:hidden;}
.mess_list{ clear:both; overflow:auto; zoom:1; margin-bottom:10px;}
.mess_title,.mess_input,.mess_textarea{ float:left; display:inline;}
.mess_title{ width:60px; text-align:right; margin-right:15px;}
.mess_input input,.mess_textarea textarea{ border:#999 1px solid;}
.mess_textarea textarea{ overflow:auto;}
.subd{
width:71px;
border:0px;
height:23px;
line-height:23px;
background-image:url(../images/login_input_bg.gif);
cursor:pointer;
margin-top:7px;
margin-bottom:7px;
margin-left:20px;
text-align:center;
color:#FFF;
}
.regformsub input{
width:60px;
border:0px;
height:19px;
line-height:19px;
background:url(../images/sendorder.jpg);
cursor:pointer;
margin-top:7px;
margin-bottom:7px;
margin-left:20px;
text-align:center;
color:#FFF;
border:0px;
}
.status{
padding:10px;
background-color:#FFFBD0;
border:#EE9C5F 1px solid;
color:#666666;
}


#yzmshow{
position:absolute;
float:left;
display:none;
margin-left:25px;
margin-top:15px;
z-index:3;
}
#yzmshow img{
height:18px;
margin-top:2px;
border:#ccc 2px solid;
}
#loginform_stat{
height:25px;
line-height:25px;
width:90%;
margin:0 auto;
width:200px;
display:none;
}


.more{
display:none;
}
.blk_t{
	font-size:12px;
}

/*counter*/
.counter{
text-indent:10px;
height:26px;
line-height:26px;
color:#fff;
background-color:#565656;
border:#383838 1px solid;
}
.counter span{float:left;}
#counterpic{float:left; margin-top:-2px;}
#counterpic img{ float:left; margin-left:2px; margin-top:5px;}

.jsq{
float:left;
min-width:12px;
margin-right:4px;
font-weight:normal;
font-family:Georgia, "Times New Roman", Times, serif;
line-height:14px;
text-align:center;
background-color:#fff;
color:#000;
text-indent:0px;
margin-top:6px;
}

/*qq*/

.qq_list_con{
line-height:2.5em;
padding:8px;
min-height:10px;
_height:10px;
padding-top:0px;
}

/*flink*/

ul.flink_index{
padding:0px;
line-height:2em;
_height:30px;
margin:0 auto;
margin-left:0px;
}
ul.flink_index li{
	margin-top:10px;
padding:0px;
background-image:none;
float:left;
text-indent:0px;
width:100px;
text-align:center;
height:30px;
}
ul.flink_index li img{
width:88px;
height:31px;
float:left;
_display:inline;
list-style:none;
margin-right:10px;
}



/*art_view*/
.artview{
margin-bottom:10px;
}
.artview_title{
height:40px;
line-height:30px;
border-bottom:#f5f5f5 2px solid;
text-align:center;
font-size:16px;
font-weight:bold;
margin-bottom:6px;
}
.artview_info{
height:30px;
text-align:center;
}
.artview_intr{
padding:5px;
line-height:1.7em;
color:#868686;
background-color:#F5F5F5;
border:#E5E5E5 1px solid;
margin-bottom:10px;
text-indent:24px;
}
#artview_content{
line-height:2em;
text-indent:28px;
}
#artview_content,#artview_content a{
font-size:14px;
}


/*admin toolbar*/
#adminToolbar { width:100%; height:38px; background:url(../images/admintoolbar_bg.gif) repeat-x; border-bottom:1px solid #000; z-index:99; }
#adminToolbar ul { float:left; text-align:left; height:38px; background:url(../images/admintoolbar_lo.gif) no-repeat; padding-left:150px; }
#adminToolbar ul li { float:left; padding:9px; position:relative; z-index:98; }
#adminToolbar .section { float:left; padding:0 10px; height:18px; line-height:18px; background:url(../images/admintoolbar_bt_bg.gif) repeat-x top; color:#012d5f; border:1px solid #6da5c7; }
#adminToolbar .section:hover { background:url(../images/admintoolbar_bt_bg.gif) repeat-x bottom; color:#a15b00; border:1px solid #dea303; }
.adminToolbar_downmenu { display:none; position:absolute; width:100px; padding:10px; background:#fff; top:29px; left:10px; }
.adminToolbar_downmenu a { display:block; height:24px; line-height:24px; color:#012d5f; }
.admintoolbar_right { float:right; padding-right:40px; line-height:38px; color:#00c6ff; }
.admintoolbar_right a { color:#fff; }
.admintoolbar_right a:hover { color:#00c6ff; }

.mod_toolbar { height:24px; line-height:24px; background:#000; text-align:left; padding-left:5px; z-index:-1;}
.mod_toolbar img {vertical-align: middle;}
.mod_toolbar a { font-size: 11px; color:#FFFFFF; }

/* sortable placeholder */
.web_bg .sortable_placeholder { display: block; border: 1px solid #efefef; height: 32px; background: #ccc; }
.placeholder { display: block; height: 12px; }

ul{
margin:0px;
padding:0px;
list-style-type:none;
}

.blankbar{
height:9px;
line-height:9px;
font-size:1px;
clear:both;
}
.blankbar1{
height:1px;
line-height:1px;
font-size:1px;
clear:both;
}

#pager {
    margin: 0px auto;
	margin-top:20px;
}
#pager td{	
	color:#999999;
	padding-left:5px;
	padding-right:5px;
}
#pager td a img{
margin-left:2px;
padding-right:2px;
margin-top:2px;
}

p.static_html{
	font-size:14px;
}
p.static_html img{
	margin:10px;
}
/*新*/
.hs_font,.hs_font a,.hs_font a:visited{ color:#721800;}
.hs_font a:hover{ color:#b12500;}
hr{ height:1px; color:#CCC;}
#right2 .full_bulletin_list { text-align:left; line-height:30px; padding-left:0px; }
#right2 .full_bulletin_list li{ border-bottom:1px dashed #CCC; height:30px; line-height:30px;}
#right2 .full_bulletin_list li .l_title{ float:left; width:500px; height:30px; overflow:hidden; background:url(../images/health_29.jpg) no-repeat left; padding-left:15px;}
#right2 .full_bulletin_list li .n_time{ float:right; color: #a1917e; padding-right:15px;}

/*--注册--*/
.reg_bg{ background:url(../images/reg_pic.jpg) no-repeat;display:none;}
#regform_table{ width:300px; margin:0 auto;}
#regform_table td{ text-align:left;}
#regform_table td.td_sub{ padding-left:80px;}
#regform_table input{
width:93px;height:18px;line-height:18px;padding-left:8px;padding-right:8px;border:#9CA9C9 1px solid;font-size:12px;color:#666;margin-top:4px;}
#regform_table{ width:598px; margin:0 auto;}
#regform_table .regform_table_s{ width:320px; margin:0 auto;}
#regform_table .regform_table_s td.label{ width:65px;}
#regform_table .regform_table_s td.entry{ width:255px;}



/*新闻*/
#right2 .art_list_con { text-align:left; line-height:30px; padding-left:0px; }
#right2 .art_list_con ul li{ border-bottom:1px dashed #CCC; height:30px; line-height:30px;}
#right2 .art_list_con ul li .l_title{ float:left; width:500px; height:30px; overflow:hidden; background:url(../images/lido_11.jpg) left no-repeat; padding-left:15px;}
#right2 .art_list_con ul  li .n_time{ float:right; color: #bca875; padding-right:15px;}
.art_list_time{
color:#646464;
}
input.add_to_cart_b_view{
background:none;
margin:0;
padding:0;
border:0;
font-size:12px;
color:#333;
text-indent:24px;
width:95px;
height:20px;
line-height:20px;
background-image:url(../images/add_to_cart.jpg);
cursor:pointer;
}

.art_list_time{float:right;}
#right .qq_list_con ul li{
clear:none;
float:left;
margin-bottom:5px;
margin-right:10px;}

.product_gallery_pic {
border:3px solid #ECECEC;
margin:0 0 3px 6px;
width:120px;
}

.list_more {
clear:both;
padding-right:20px;
text-align:right;
}

#left .flash_image { 　overflow:hidden; width:662px; float:left; }
#right .flash_image { 　overflow:hidden; width:271px; float:left; }
#right .com_con { width:660px; _width:660px; overflow:hidden;}
#left .com_con { width:271px; _width:260px; overflow:hidden;}


.prod_type{padding-top:4px;padding-left:5px;}
/* ---------------公告栏样式----------*/
.bulletin{ height:150px;}
/* ---------------首页公司介绍样式----------*/
.notice_con{ padding:8px;}

/*----------------2种语言---------------------------*/
.switch_langbar { text-align:left;color:#000; float:left; margin-top:72px; margin-right:10px; position:absolute; margin-left:20px; *margin-left:-900px; z-index:10000;}
.switch_langbar a:link {color: #000;text-decoration: none;}
.switch_langbar a:visited {text-decoration: none;color: #000;}
.switch_langbar a:hover {text-decoration: underline;}
.switch_langbar a:active {text-decoration: none;}

.lngbar_option a:link{ color:#444;}
.lngbar_select { color:#444;}
.lngbar_select {border:1px solid #000;padding:0 3px;cursor:pointer;padding-right:20px;background:#FFF url(../../../images/down.gif) no-repeat right center;} 
.lngbar_option {border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;padding:3px;background-color:#FFF;z-index:1000;position:absolute;display:none;} 
.lngbar_option a {display:inline-block;width:100%; color:#fff;}

